
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="about">About</a></li>
   <li><a routerLink="org">Organization</a></li>
   <li><a routerLink="constitution">Constitution</a></li>
   <li><a routerLink="activities">Activities</a></li>
    <li><a routerLink="gallery">Gallery</a></li>
    <li><a routerLink="forum">Community Forum</a></li>
     <li><a routerLink="register">Join</a></li>
     <li><a routerLink="contact">Contact Us</a></li>
      
       
</ul>

<router-outlet></router-outlet>